*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(238, 237, 237);
}
.container{
    width: 90%;
    height: max-content;
    margin: auto;
    position: relative;
}
.capa-left, .capa-right{
    width: 50%;
    height: max-content;
    float: left;
}
.capa-right{
    background-color: rgb(222, 216, 239);
}
h1{
    font-size: 28pt;
}
.img-w{
    width: 95%;
    height: auto;
    margin-top: -50px;
    
}
h2{
    font-size: 12pt;
    text-align: center;
}
input{
    width: 90%;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 5%;
}
button{
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
    height: 30px;
    background-color: rgb(42, 110, 255);
    color: rgb(255, 255, 255);
    border-radius: 15px;
}
a{
    text-decoration: none;
    color: rgb(19, 92, 135);
    display: block;
    text-align: center;
}
